streamlit
chromadb
langchain
langchain-community
langchain-huggingface
pymupdf
sentence-transformers
ollama
torch
transformers
numpy
scipy
unstructured[all-docs]
python-magic-bin
pillow
openpyxl
python-docx
python-pptx